html {
    
}
body{
	background-image: linear-gradient(to bottom right, pink, steelblue);
	background-attachment: fixed;
}
.heading{
	margin: 70 px;
}
#delete
{
	display: inline;
}
div.container.segment.margine{
	margin:85;
}